<table width="100%"
	   style="vertical-align: bottom; font-family: serif; font-size: 8pt; color: #000000; font-weight: bold; font-style: italic;">
	<tr>
		<td width="33%"><span style="font-weight: bold; font-style: italic;"><f:format.date>now</f:format.date></span></td>
		<td width="33%" align="center" style="font-weight: bold; font-style: italic;">
			<f:alias map="{ocb: '{', ccb: '}'}">
				{ocb}PAGENO{ccb}/{ocb}nbpg{ccb}
			</f:alias>
		</td>
		<td width="33%" style="text-align: right; ">{data.title}</td>
	</tr>
</table>
